/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #F9F9F9;
  font: verdana;
  font-size: 100%;
  line-height: 1.5;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.pagination .previous
{
  margin-right: 10px;
}

.pagination .next
{
  margin-left: 10px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: justify;
  max-width: 34em;
  margin: 3em auto 2em auto;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}
  
  .site .title {
    clear: both;
  }

    .site .title a {
      float: left;
      color: #a00;
      text-decoration: none;
    }

    .site .title a:hover {
      color: black;
    }

  .site .title .links {
    overflow: hidden;
    display: inline-block;
  }

    .site .title .links a {
      color: #aaa;
      text-decoration: none;
      margin-left: 1em;
    }

    .site .title .links a:hover {
      color: black;
    }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    clear: both;
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
        width: 75%;
        height: 75%;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  list-style-type: none;
  margin-bottom: 2em;
}

  /* Title */

  .post li {
    line-height: 1.75em;
  }

  .post span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

  /* standard */

  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }

  .post img[alt=drawing], img[alt=image], img[alt=originalSizeImage] {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-color: #aaa;
  }

  .post img[alt=originalSizeImage] {
    width: auto;
  }

  .post .imageText {
    text-align: center;
    font-style: italic;
  }

.viewer_instructions {
  text-align: center;
}

.gfycontainer {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.youtubecontainer {
  position: relative;
  width: 100%;
}

.youtubecontainer:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.youtube {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
}

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/

.projects {
  list-style-type: none;
}

.projects .project {
  height: 140px;
  background-size: 100% 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border: 2px solid;
  border-color: #aaa;

  padding-bottom: 1em;
  padding-right: 1em;
  margin-bottom: 1em;

  text-align: right;
  font: 13.34px helvetica, arial, clean, sans-serif;
  font-weight: bold;
}

  .projects .project .projecttitle
  {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: large;
    margin: 10px;
    color: white;
  }

  .projects .project .projectdescription
  {
    color: #373737;
    /*text-shadow: -1px -1px rgba(255, 255, 255, 0.1);*/
    background-color: rgba(200, 200, 200, 0.5);
    display: inline-block;
    padding: 5px;
  }

  .projects .projectlink
  {
    text-decoration: none;
    color: #44a;
    margin-left: 10px;
  }

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about
{
}

.about img
{
  float: left;
  border: 1px solid;
  margin-right: 20px;
  margin-bottom: 20px;
}

.about div
{
  overflow: hidden;
  display: block;
  min-width: 100px;
}

.about span
{
  vertical-align: middle;
  text-align: left;
}
