---
layout: default
title: Andreas Wilcox - Projects
---

<div>
	<h1>Projects</h1>
	<ul class="projects">
	{% for project in site.data.projects %}
		<li>
			<div style="background-image:url(../images/{{ project.image }})" class="project">
				<p class="projecttitle">{{ project.name }}</p>
				<div>
				<p class="projectdescription">
					{{ project.description }}<br />
					{{ project.authors }}
				</p>
				</div>
				{% if project.source != null %}
				<a class="projectlink" href="{{ project.source }}">Source</a>
				{% endif %}
				{% if project.download != null %}
				<a class="projectlink" href="{{ project.download }}">
					{% if project.useText != null %}
					{{ project.useText }}
					{% else %}
					Download
					{% endif %}
				</a>
				{% endif %}
			</div>
		</li>
	{% endfor %}
	</ul>
</div>