.abouts {
  max-width: map-get($layout, content-max-width);
  margin-right: auto;
  margin-left: auto;

  $marginSidesLarge: map-get($spacers, 5);
  $marginSidesSmall: map-get($spacers, 3);
  & > .about {
    margin-top: map-get($spacers, 5);
    margin-bottom: 0;
    margin-left: $marginSidesLarge;
    margin-right: $marginSidesLarge;
    @include media-breakpoint-down(lg) {
      margin-top: map-get($spacers, 3);
      margin-left: $marginSidesSmall;
      margin-right: $marginSidesSmall;
    }
  }
  & > .about:not(:first-child) {
    margin-top: map-get($spacers, 5) * 3;
    @include media-breakpoint-down(md) {
      margin-top: map-get($spacers, 4) * 3;
    }
  }
}

.about {
  @include flexbox();
  @include flex-flow(row wrap);

  img {
    display: block;
    width: 100%;
    padding: 1rem 0;
  }

  p,
  h1 {
    text-align: left;
    font-weight: 400;
  }

  h1 {
      // TODO: USE VARIABLES RIGHT?
    font-size: 3.5rem;
  }

  & > * {
    flex: 1 100%;
  }

  .about__title_top {
    display: none;
    padding: 0 1rem;
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  .about__title_text {
    display: flex;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .about__main {
    padding: 0 1rem;
    flex-basis: 60%;
    @include media-breakpoint-down(md) {
      flex-basis: auto;
    }

    ul {
      padding-left: 1rem;
    }
  }

  .about__side {
    padding: 0 1rem;
    flex-basis: 40%;
    @include media-breakpoint-down(md) {
      flex-basis: auto;
    }
  }
}
