// Firefox and Edge printing sucks and can't handle flexbox it seems.
// So have to remove flexbox from everything when printing
@media print {
  div {
    display: block !important;
  }
}

.skills {
  @include flexbox();
  @include flex-flow(row);
  @include justify-content(center);

  padding: 1rem;

  ul {
    margin-left: 2rem;
    list-style: square;
  }
  
  div {
    margin: 0 3rem;
  }

  @include media-breakpoint-down(md) {
    @include flex-flow(column);
    padding: 0rem;
    padding-bottom: 1rem;

    div {
      margin: 0rem;
    }
  }
}